<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-svg.js"></script>
  <!--Pseudocode.js-->
  <link rel="stylesheet" href="{{ "/public/pseudocode.min.css" | prepend: site.baseurl | prepend: site.url }}">
  <script src="{{ "/public/pseudocode.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/public/katex-0.11.1/katex.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-seo title=false-%}
  {%-feed_meta-%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
</head>